.canvas {
    -fx-background-color: #212121;
}

.card-white {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 8;
}

.info-label {
    -fx-background-color: #c62828;
    -fx-text-fill: #F5F5F5;
    -fx-background-radius: 8 8 0 0;
    -fx-font-family: "Bitter";
    -fx-font-size: 22;
}

.jfx-text-field, .jfx-text-area, .jfx-combo-box, .jfx-password-field {
    -jfx-unfocus-color: #757575;
    -jfx-focus-color: #c62828;
    -fx-font-family: "Bitter";
    -fx-font-size: 18;
}

.submit-button {
    -fx-background-color: #c62828;
    -fx-text-fill: #E0E0E0;
    -fx-font-family: "Bitter";
    -fx-font-size: 18;
}

.jfx-toggle-button {
    -fx-toggle-color: #c62828;
}